{% load static %}

<div class="columns is-centered">
  <div class="column is-11">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        {% if user.is_authenticated %}
        <a class="navbar-item" href="{% url 'demo:home-page' %}">
          <img src="{% static '/images/demo.png' %}" />
        </a>
        {% else %}
        <a class="navbar-item" href="{% url 'login' %}">
          <img src="{% static '/images/demo.png' %}" />
        </a>
        {% endif %}
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu has-text-weight-semibold">
        <div class="navbar-start">
          {% if user.is_authenticated %}
          <a class="navbar-item" href="{% url 'demo:home-page' %}">Home</a>
          {% else %}
          <a class="navbar-item" href="{% url 'login' %}">Home</a>
          {% endif %}
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if user.is_authenticated %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <img src="{% static '/images/profile.png' %}" />
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item"> {{ user.email }} </a>
                  <hr class="navbar-divider" />
                  <a class="navbar-item"> Profile </a>
                  <form method="POST" action="{% url 'demo:logout-page' %}">
                    <a class="navbar-item" href="{% url 'demo:logout-page' %}"> Logout </a>
                  </form>
                </div>
              </div>
              {% else %}
              <a class="button is-primary" href="{% url 'demo:signup-page' %}">
                Sign Up
              </a>
              <a class="button is-light" href="{% url 'login' %}"> Log In </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
